[user]
	email = lysandroc@gmail.com
	name = Lysandro Carioca
[delta]
	side-by-side = true
[core]
	pager = delta
	editor = nvim
	autocrlf = false
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[rebase]
	instructionFormat = (%an <%ae>) %s
[includeIf "gitdir:~/natura/"]
	path = ~/natura/.gitconfig
