[user]
	email = lysandroc@gmail.com
	name = Lysandro Carioca
  signingkey = ~/.ssh/github.pub
[core]
	pager = delta
	editor = nvim
	autocrlf = false
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  ; https://dandavison.github.io/delta/custom-themes.html
  features = mantis-shrimp-lite
	side-by-side = true
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  ; should be deprecated soon
  plus-color = "#012800"
  ; plus-color = syntax "#012800"
  ; should be deprecated soon
  minus-color = "#340001"
  ; minus-color = normal "#340001"
  ; should be deprecated soon
  syntax-theme = Monokai Extended
  ;theme = Monokai Extended
[delta "decorations"]
  ; should be deprecated soon
  commit-style = raw
  commit-decoration-style = bold yellow box ul
  ; commit-color = bold yellow box ul
  file-style = bold yellow ul
  ; should be deprecated soon
  file-decoration-style = none
  ; file-color = none
  ; should be deprecated soon
  hunk-header-decoration-style = blue box
  ; hunk-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  ; should be deprecated soon
  hunk-header-style = file line-number syntax
  ; hunk-color = file line-number syntax
[rebase]
	instructionFormat = (%an <%ae>) %s
[includeIf "gitdir:~/natura/"]
	path = ~/natura/.gitconfig
; [includeIf "gitdir:~/projects/stay/"]
; 	path = .gitconfig-stay22
[commit]
	gpgsign = true
[gpg]
	format = ssh
